<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="HOME" value="c:/log" />

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME}/issuetracker.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="com.xylugah.issuetracker" level="ERROR"
		additivity="true">
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="FILE-AUDIT" />
	</root>

</configuration>